header {
  width: 100%;
  height: 150px;
  background-color: #9ce0cf;
}

#headerLine {
  width: 100%;
  height: 30px;
  background-color: cadetblue;
}

#headerMenu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

#leftSpace {
  width: 33%;
}

#navigationBar {
  width: 33%;
  /*background-color: antiquewhite;*/
  display: flex;
  justify-content: space-between;
}

#navigationBar > h5 {
  font-weight: normal;
}

.home {
  margin-right: 30%;
}

.ranking {
  margin-right: 30%;
}

#userMenu {
  width: 33%;
  /*background-color: beige;*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

#userMenu > * {
  font-size: 11px;
  margin-left: 25px;
  font-weight: bold;
}

#headerBottom {
  width: 100%;
  /*background-color: aquamarine;*/
  display: flex;
  justify-content: space-between;
  position: relative;
}

#logo {
  height: 70px;
  margin-left: 120px;
  font-family: "Sitka Heading", serif;
  font-size: 30px;
  /*background-color: aquamarine;*/
  padding: 5px;
  display: flex;
  align-items: center;
}

#searchBox {
  width: 250px;
  height: 30px;
  background-color: white;
  border: 1px solid #090909;
  border-radius: 2px;
  margin-left: 83%;
  padding: 3px;
  margin-right: 200px;
  display: flex;
}

#searchButton {
  width: 30px;
  height: 30px;
  border: 0px;
  background: white;
  outline: none;
  float: right;
}

input {
  font-size: 13px;
  width: 200px;
  padding: 8px;
  outline: none;
  float: left;
  border: 0px;
}

body {
  background-color: mintcream;
  margin: 0;
}

/* 상품 정보 */
#productInfo {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  margin-left: 250px;
  margin-top: 100px;
}

#productInfo .productImg > img {
  /*상세 제품 이미지*/
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}

#productInfo .productInfo {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
}

#productInfo .productName {
  font-size: 40px;
  margin: 0px;
}

#productInfo .productStar {
  margin-top: 30px;
  display: flex;
}
#productInfo .productStar > img {
  max-width: 20px;
  max-height: 20px;
}
#productInfo .reviewNum {
  font-size: 15px;
  margin: 0px;
  margin-left: 30px;
}

#productInfo .productPrice {
  font-size: 20px;
  margin-top: 10px;
}

#productInfo .productComposition {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#productInfo .detailComposition {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

#productInfo .carcinogen {
  /*8대 발암물질*/
  height: 100%;
  width: 100px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

#productInfo .carcinogen > img {
  max-width: 50px;
  max-height: 50px;
}

#productInfo .harmfulIngredients {
  /*주의 성분*/
  height: 100%;
  width: 100px;
  font-size: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

#productInfo .harmfulIngredients > img {
  max-width: 50px;
  max-height: 50px;
}

#productInfo .organic {
  /*유기농*/
  height: 100%;
  width: 100px;
  font-size: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

#productInfo .organic > img {
  max-width: 50px;
  max-height: 50px;
}

/* 리뷰 */

#review {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.totalReviewStar {
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
}

.totalReviewStar > img {
  max-width: 20px;
  max-height: 20px;
  object-fit: contain;
}

.totalStarScore {
  font-size: 15px;
  object-fit: contain;
}

.review {
  height: 400px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.profileImg {
  height: 100px;
  width: 60px;
  display: flex;
}

.profileImg > img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

.profileInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userName {
  font-size: 20px;
  display: flex;
  margin: 1px;
}

.userChar {
  font-size: 10px;
  display: flex;
  margin: 1px;
}
.userStarScore > img {
  max-width: 150px;
  max-height: 15px;
  object-fit: contain;
}

.reviewContent {
  font-size: 18px;
}

#userRecommend {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
}

#contents {
  margin: 100px 30px 0px 30px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recProduct {
  width: 250px;
  height: 300px;
  margin: 15px 30px;
  /*background-color: aliceblue;*/
}

.recProductImage {
  /*추천 상품 이미지*/
  /*background-color: white;*/
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.recProductImage > img {
  max-width: 250px;
  max-height: 200px;
  object-fit: contain;
}

.recProductName {
  font-size: 15px;
}

.recProductMaker {
  font-size: 13px;
  font-weight: bold;
}

.recProductFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recProductPrice {
  font-size: 13px;
  line-height: 5px;
}

.likeButton {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

footer {
  width: 100%;
  height: 200px;
  /*background-color: #9ce0cf;*/
  background-color: cadetblue;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#footerLogo {
  margin-left: 100px;
  color: white;
  display: flex;
  flex-direction: column;
}

.baramFooter {
  font-size: 55px;
  font-family: "Sitka Heading", serif;
  margin: 0px;
}

.baramPhrase {
  font-size: 20px;
  font-family: "한컴산뜻돋움", serif;
  margin: 0;
}

#footerMenu {
  display: flex;
}

#footerMenu > * {
  color: white;
  font-size: 15px;
  margin: 0px 0px 0px 200px;
}
